<h1>Listing art_pieces</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Image path</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @art_pieces.each do |art_piece| %>
      <tr>
        <td><%= art_piece.category %></td>
        <td><%= art_piece.title %></td>
        <td><%= art_piece.price %></td>
        <td><%= art_piece.quantity %></td>
        <td><%= art_piece.image_path %></td>
        <td><%= art_piece.description %></td>
        <td><%= link_to 'Show', art_piece %></td>
        <td><%= link_to 'Edit', edit_art_piece_path(art_piece) %></td>
        <td><%= link_to 'Destroy', art_piece, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Art piece', new_art_piece_path %>
