<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @art_piece.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @art_piece.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @art_piece.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @art_piece.quantity %>
</p>

<p>
  <strong>Image path:</strong>
  <%= @art_piece.image_path %>
</p>

<p>
  <strong>Description:</strong>
  <%= @art_piece.description %>
</p>

<%= link_to 'Edit', edit_art_piece_path(@art_piece) %> |
<%= link_to 'Back', art_pieces_path %>
