<%
title = ""
CATEGORIES.each do |cat,details|
  if details['url'] == request.fullpath && request.fullpath != "/"
    title = cat
    break
  end
end
%>
<h3><%= title %></h3>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Imagepath</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @artworks.each do |artwork| %>
      <tr>
        <td><%= artwork.category %></td>
        <td><%= artwork.title %></td>
        <td><%= artwork.price %></td>
        <td><%= artwork.quantity %></td>
        <td><%= artwork.imagepath %></td>
        <td><%= artwork.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

