
<div class="container">
<h2>Post new artwork for sale</h2>

<%= form_for [:seller, @artwork], :url => seller_artwork_path(@artwork) do |f| %>

<%= render "shared/error_messages", target: @artwork %>

  <div class="form-group">
    <%= f.label(:category) %>		
		<%= select("artwork", "category", artwork_categories) %>
  </div>

  <div class="form-group">
    <%= f.label(:title) %>
    <%= f.text_field(:title, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= f.label(:description) %>
    <%= f.text_area(:description, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= f.label(:price) %>
    <%= f.text_field(:price, class: "form-control", id: "price") %>
  </div>

  <div class="form-group">
    <%= f.label(:quantity) %>
    <%= f.number_field(:quantity, in: 1..10, class: "form-control", id: "quantity") %>
  </div>

    <%= f.submit("Sell your artwork", class: "btn btn-default") %><br><br>
<% end %>

<%= link_to 'Your Shop', yourshop_path %>
<br><br>
</div>
