<p>
  <strong><%= @artwork.title %></strong>
</p>

<div style='float: left; margin-right: 20px'>
<%= image_tag(@artwork.imagepath, :border=>0) %>
</div>

<p>
  <strong>
  <%= @artwork.category %>
</strong>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@artwork.price) %>
</p>

<p>
  <strong>Only <%= @artwork.quantity %> available</strong>
</p>
<p>
  <%= @artwork.description %>
</p>

<p><strong>Tags</strong></p>

<% unless @my_arttags.nil? %>
	<% @my_arttags.each do |arttag| %>
		<%= label_tag 'arttag', arttag.tagname %>
	<% end %>
<% end %>

<div style='clear:both'>
	
<%= link_to 'Edit', edit_seller_artwork_path(@artwork) %> |	
<%= link_to 'Back to Your Artworks', seller_artworks_path %>
</div>



