<%= form_for(@seller) do |f| %>
  <% if @seller.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seller.errors.count, "error") %> prohibited this seller from being saved:</h2>

      <ul>
      <% @seller.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">

		<%= label_tag 'User name: ' %>
		<%= text_field_tag 'name', userfullname(@user), disabled: true %>
  </div>
  <div class="field">
    <%= label_tag "Displayed seller's name:" %>
    <%= f.text_field :displayed_name %>
  </div>
  <div class="field">
		<%= label_tag "Opened shop at:" %>
    <%= f.datetime_select :seller_date %>
  </div>
  <div class="field">
    <%= label_tag "Description:" %>
    <%= f.text_area :seller_description %>
  </div>
  <div class="field">
    <%= label_tag "Seller's email:" %>
    <%= f.text_field :seller_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
