<h2>Edit your shop</h2>

<%= form_for @seller do |f| %>

<%= render "shared/error_messages", target: @seller %>

	<div class="field">

		<%= label_tag 'Your user name: ' %>
		<%= text_field_tag 'name', userfullname(@user), disabled: true %>
  </div>
  <div class="field">
    <%= label_tag "Your displayed seller's name:" %>
    <%= f.text_field :displayed_name %>
  </div>
  <div class="field">
		<%= label_tag "Opened shop at:" %>
    <%= @seller.seller_date.localtime.to_s(:long) %>
  </div>

  <div class="field">
    <%= label_tag "Update your seller's description:" %>
    <%= f.text_area :seller_description %>
  </div>
  <div class="field">
    <%= label_tag "Update your seller's email:" %>
    <%= f.text_field :seller_email %>
  </div>
  <div class="actions">
    <%= f.submit "Save all changes" %>
  </div>
<% end %>

<%= link_to 'View your shop', '/yourshop' %>

