<h2>Admin. List of sellers</h2>

<table>
  <thead>
    <tr>
      <th>Seller date</th>
      <th>Displayed name</th>
      <th>Seller description</th>
      <th>Seller email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sellers.each do |seller| %>
      <tr>
        <td><%= seller.seller_date.localtime.to_s(:long) %></td>

        <td><%= seller.displayed_name %></td>
        <td><%= seller.seller_description %></td>
        <td><%= seller.seller_email %></td>
        <td><%= link_to 'Preview', seller %> | </td>
        <td><%= link_to 'Edit', edit_seller_path(seller) %> | </td>
        <td><%= link_to 'Delete', seller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back to Admin', admin_path %>

