<p id="notice"><%= notice %></p>

<div class="container">
<h2>Open Your Shop</h2>
<br>
<%= form_for(@seller) do |f| %>

<%= render "shared/error_messages", target: @seller %>

<div class="form-group">
		<%= f.label(:displayed_name, "Choose displayed name:") %>
    <%= f.text_field(:displayed_name, class: "form-control" ) %>
</div>

<div class="form-group">
	  <%= f.label(:seller_email, "Type in your seller email:") %>
    <%= f.text_field(:seller_email, class: "form-control") %>
</div>

<div class="form-group">
	  <%= f.label(:seller_description, "Type in your description:") %>
    <%= f.text_area(:seller_description, class: "form-control") %>
</div>

<div class="form-group"
	   <%= f.submit( class: "btn btn-default" ) %>
</div>	
<% end %>
</div>
