<p id="notice"><%= notice %></p>
<h2>Open Your Shop</h2>

<%= form_for @seller do |f| %>

<%= render "shared/error_messages", target: @seller %>

	<div class="field">
		<%= f.label :displayed_name, "Choose displayed name:" %>
    <%= f.text_field :displayed_name %>
  </div>
	<div class="field">
	  <%= f.label :seller_email, "Type in your seller email:" %>
    <%= f.text_field :seller_email %>
  </div>
	<div class="field">
	  <%= f.label :seller_description, "Type in your description:" %>
    <%= f.text_area :seller_description %>
  </div>
	<div class="actions">
	   <%= f.submit %>
	</div>
<% end %>
