<p id="notice"><%= notice %></p>

<p>
  <strong>Displayed name:</strong>
  <%= @seller.displayed_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @seller.description %>
</p>

<p>
  <strong>Seller email:</strong>
  <%= @seller.seller_email %>
</p>

<%= link_to 'Edit', edit_seller_path(@seller) %> |
<%= link_to 'Back', sellers_path %>
