
<h2>Your shop</h2>

<p>
  <strong>Displayed seller's name:</strong>
  <%= @seller.displayed_name %>
</p>
<p>
  <strong>User name:</strong>
  <%= userfullname(@user) %>
</p>
<p>
  <strong>Opened your shop at:</strong>
  <%= @seller.seller_date.localtime.to_s(:long) %>
</p>
<p>
<p>
	<strong>Your description:</strong>
  <%= @seller.seller_description %>
</p>
<p>
  <strong>Your seller's email:</strong>
  <%= @seller.seller_email %>
</p>

<p>
	<strong>You have: </strong>
	<%= @artworks.size %> artworks for sale.
</p>
<p>
	<strong>Sold out: </strong>
	<%= @artworks.sold_out(current_user.id).count %> artworks.
</p>
<br>

<div class="shop">
<%= link_to('Sell New Artwork', new_seller_artwork_path, class: "btn btn-default btn-xs", id: "your-shop") %><br><br>
<%= link_to('Edit Your Shop', "/edityourshop", class: "btn btn-default btn-xs", id: "your-shop") %><br><br>
</div>
<% if (!@artworks.nil? and @artworks.length > 0) then %>

	<table class="table table-bordered">
  	<thead>
	    <tr>
	      <th></th>
	      <th>Price</th>
	      <th>Quantity</th>
	      <th>Changing anything?</th>
	    </tr>
  </thead>

  <tbody>
    <% @artworks.each do |item| %>
      <tr>
        <td>
				<%= item.title %><br>
				<%= image_tag(item.imagepath, border:'0', height:'100', width:'100') %>
				</td>
        <td><%= number_to_currency(item.price) %></td>
        <td><%= item.quantity %></td>
				<td> <%= link_to 'Edit', edit_seller_artwork_path(item) %>  </td>
      </tr>
    <% end %>
    <tr><td colspan="4">
	<br>
    	<%= link_to 'Want to close your shop?', seller_path(@seller), method: :delete, data: { confirm: 'Are you sure?' } %><br>
    </td></tr>
  </tbody>
</table>
<br>
<% end %>

