<p id="notice"><%= notice %></p>
<h1>Admin. Show artwork</h1>

<%= image_tag(@artwork.imagepath, :border=>0) %>

<p>
  <strong>Category:</strong>
  <%= @artwork.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @artwork.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @artwork.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @artwork.quantity %>
</p>

<p>
  <strong>Imagepath:</strong>
  <%= @artwork.imagepath %>
<p>
  <strong>Description:</strong>
  <%= @artwork.description %>
</p>

<% unless @my_arttags.nil? %>
	<% @my_arttags.each do |arttag| %>
		<%= label_tag 'arttag', arttag.tagname %><br>
	<% end %>
<% end %>


<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>

