<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @artwork.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @artwork.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @artwork.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @artwork.quantity %>
</p>

<p>
  <strong>Imagepath:</strong>
  <%= @artwork.imagepath %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artwork.description %>
</p>

<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
