<div class='artwork'>
	
  <p>
		<strong class="artwork-title">
    <%= @artwork.title %>
		</strong>
	</p>
<br>

<div style="float: left; margin-right: 20px">
  <%= image_tag(@artwork.imagepath, { class: "img-responsive" }) %>
</div>

<p class="artwork-description" >
  <%= @artwork.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= number_to_currency(@artwork.price) %>
</p>
<p>
  <strong>
    Only <%= @artwork.quantity %> available
  </strong>
</p>

<% if !current_user.nil? %>
  <%= button_to 'Add to Cart', shoppingcartitems_path(:shoppingcartitem => {:user_id => current_user.id, :artwork_id => @artwork.id, :quantity => 1}), class: "btn btn-default btn-sm"  %>
<% end %>
<br>
<% unless @my_arttags.blank? %>
	<%= link_to 'Find more like this item', artworks_path(:morelike => @artwork.id) %>
<% end %>

<div id="tagsfooter" >
<% unless @my_arttags.blank? %>
  <% @my_arttags.each do |arttag| %>
	<% t = "/?tag=" + arttag.id.to_s %>
    <a href=<%=t%>><span class="badge"><%= label_tag 'arttag', arttag.tagname %></span></a>
  <% end %>
<% end %>
<br><br><br>
<%
=begin %>
<br><br>
	<%= link_to 'Back to Artworks', artworks_path %>
</div>
<% 
=end %>

</div>
