<div class='admin'>
	<div class="container">
<h2>Editing review. NOT IMPLEMENTED</h2>

<%= form_for [:admin, @review] do |f| %>

<%= render "shared/error_messages", target: @review %>

  <div class="form-group">
    <%= f.label :stars %>
		<%= text_field_tag('stars', @review.stars, disabled: true, class: "form-control", id: "review") %>
  </div>
  <div class="form-group">
		<%= label_tag 'User id: ' %>
		<%= text_field_tag('userid', @review.user.id, disabled: true, class: "form-control", id: "review") %>
		<%= label_tag 'User name: ' %>
		<%= text_field_tag('username', userfullname(@review.user), disabled: true, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= f.label :review_text %>
    <%= f.text_area(:review_text, class: "form-control") %>
  </div>
  <div class="form-group">
		<%= label_tag "Posted at:" %>
		<%= text_field_tag('date', @review.review_date.localtime.to_date, disabled: true, class: "form-control", id: "review-date") %>
  </div>
    <%= f.submit("Update", class: "btn btn-danger") %>
<% end %>
<br><br>
<%= link_to 'Back to Reviews', admin_reviews_path %><br><br>
</div>
</div>
