<h2>Admin. All reviews</h2>
<br>
<%= link_to 'Back to Admin', admin_menu_index_path %>
<br>

<table>
  <thead>
    <tr>
      <th>Stars</th>
      <th>User</th>
      <th>Artwork</th>
      <th>Review text</th>
      <th>Review date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.stars %></td>
        <td><%= review.user_id %></td>
        <td><%= review.artwork_id %></td>
        <td><%= review.review_text %></td>
        <td><%= review.review_date.localtime.to_s(:long) %></td>
        <td><%= link_to 'View', admin_review_path(review) %> | </td>
        <td><%= link_to 'Edit', edit_admin_review_path(review) %> | </td>
        <td><%= link_to 'Delete', admin_review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Back to Admin', admin_menu_index_path %>
