<% if current_user.admin? %>
    <%= link_to "Manage Accounts", "/admin" %>

<% else %>
    <div class='dropdown'>
        Hi, <a data-toggle="dropdown" id='account' href=''><%= userfullname(current_user) %></a>
        <ul class='dropdown-menu pull-right' role='menu' id='account-menu'>
            <li><%= link_to "Your Account", "/account" %></li>
            <li>
            <% seller = Seller.where(["user_id = ?", current_user.id]).first %>
            <% if !seller.nil? %>
                <%= link_to "Your Shop", "/yourshop" %>
            <% else %>
                <%= link_to "Open Shop", "/openshop" %>
            <% end %>
            </li>
        </ul>
    </div>

    <%= link_to "Cart", "/yourcart" %> |
<% end %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
