
<%= form_for polymorphic_path([:admin, @order, @ordereditems]) do |f| %>

  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_date, "Date" %>
		<%= text_field_tag 'date', @order.order_date.localtime.to_s(:long), disabled: true %>
  </div>

	<div class="field">
		<%= f.label :shipping_address %>
		<%= f.text_field :shipping_address %>
	</div>

  <div class="field">
    <%= f.label :shipping_cost %>
    <%= f.text_field :shipping_cost %>
  </div>

	<% f.fields_for :ordereditems do |item| %>
	
	<div class="field">
	<%= item.label :category %>
	<%= item.text_field :category %>
	</div>


	<% end %>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>