<div class='admin'>
<h2>Admin. Edit order</h2>

<%= form_for [:admin, @order] do |f| %>

<%= render "shared/error_messages", target: @order %>
 
  <div class="field">
    <%= f.label :order_date %>
		<%= text_field_tag 'date', @order.order_date.localtime.to_s(:long), disabled: true %>
  </div>

<div>
	<p>shipping address</p>
	<%= text_field_tag 'shipping address', @useraddress %>
</div>

 <div class="field">
   <%= f.label :shipping_cost %>
   <%= f.text_field :shipping_cost %>
 </div>

 <div class="actions">
   <%= f.submit %>
 </div>

<% end %>

<%= link_to 'View', admin_order_path(@order) %> |
<%= link_to 'Orders', admin_orders_path %>
</div>
