<p id="notice"><%= notice %></p>

<style>
#cart-table td {
	border-top: 1px solid #DDD;
}
#cart-table th {
	font-size:11px;
}
#cart-table {
	width:100%;
}
.cart-item-col {
	width:70%;
}
</style>

<h2>Admin. View order info</h2>
<p>
  <strong>Order date:</strong>
  <%= @order.order_date.localtime.to_s(:long) %>
</p>
<p>
	<strong>User name:</strong>
  <%= userfullname(@user) %>
</p>
<p>
  <strong>Shipping address:</strong>
  <%= @order.shipping_address %>
</p>
<p>
  <strong>Shipping cost:</strong>
  <%= number_to_currency(@order.shipping_cost) %>
</p>

<% if @order.ordereditems.length == 0 %>
<h3>Empty order</h3>
<% else %>


<table id="order-table" border="0">
  <thead>
    <tr>
      <th class="order-item-col">Item</th>
      <th class="order-price-col">Price</th>
      <th class="order-quantity-col">Quantity</th>
      <th class="order-delete-col"></th>
    </tr>
  </thead>

  <tbody>
    <% @order.ordereditems.each do |item| %>
      <tr>
        <td class="order-item-col">
				<%= item.title %><br>
				<%= image_tag(item.imagepath, border:'0', height:'100', width:'100') %>
				</td>
        <td class="order-price-col"><%= number_to_currency(item.price) %></td>
        <td class="order-quantity-col"><%= item.quantity %></td>
        <td class="order-delete-col"><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr><td colspan="4"></td></tr>
  </tbody>
</table>
<% end %>

<%= link_to 'Edit', edit_admin_order_path(@order) %> |
<%= link_to 'Orders', admin_orders_path %>
