<h2>My Cart</h2>

<style>
#cart-table td {
	border-top: 1px solid #DDD;
}
#cart-table th {
	font-size:11px;
}
#cart-table {
	width:100%;
}
.cart-item-col {
	width:70%;
}
</style>

<table id="cart-table" border="0">
  <thead>
    <tr>
      <th class="cart-item-col">Item</th>
      <th class="cart-price-col">Price</th>
      <th class="cart-quantity-col">Quantity</th>
      <th class="cart-delete-col"></th>
    </tr>
  </thead>

  <tbody>
    <% @myitems.each do |item| %>
      <tr>
        <td class="cart-item-col">
				<%= item.artwork.title %><br>
				<%= image_tag(item.artwork.imagepath, border:'0', height:'100', width:'100') %>
				</td>
        <td class="cart-price-col"><%= number_to_currency(item.artwork.price) %></td>
        <td class="cart-quantity-col"><%= item.quantity %></td>
        <td class="cart-delete-col"><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr><td colspan="4"></td></tr>
  </tbody>
</table>

<br>

<%= link_to 'Continue Shopping', artworks_path %>
&nbsp;&nbsp;&nbsp;
<%= button_to 'Checkout', :controller => "orders", :action => "create" %>
