<p id="notice"><%= notice %></p>

<div class="container" >
<h2>Your Cart</h2>
<br>
<% if Shoppingcartitem.cart_count(current_user.id) > 0 %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Price</th>
      <th>Quantity</th>
			<th>Availability</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @myitems.each do |item| %>
      <tr>
        <td>
				<%= item.artwork.title %><br>
				<%= image_tag(item.artwork.imagepath, border:'0', height:'100', width:'100') %>
				</td>
        <td><%= number_to_currency(item.artwork.price) %></td>
        <td><%= item.quantity %></td>			
				
				<% if @unavailableitems.include?(item.artwork)  %></td>
				<td>Out of stock</td>
				<% else %>
				<td>Available</td>
				<% end %>
				
        <td><%= link_to 'Remove', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>
<br>
<%= button_to 'Checkout', {controller: "orders", action: "create"}, class: "btn btn-default" %>
<% else %>
	<%= image_tag( asset_path("common/cart-empty.png")) %>
<% end %>
<br><br>
<%= link_to 'Back to Shopping', artworks_path %>
<br><br>
</div>
