<div class='admin'>
<h2>Admin. Edit seller</h2>

<%= form_for [:admin, @seller] do |f| %>

<%= render "shared/error_messages", target: @seller %>

	<div class="field">

		<%= label_tag 'User name: ' %>
		<%= text_field_tag 'name', userfullname(@seller.user), disabled: true %>
  </div>
  <div class="field">
    <%= label_tag "Displayed seller's name:" %>
    <%= f.text_field :displayed_name %>
  </div>
  <div class="field">
		<%= label_tag "Opened shop at:" %>
		<%= text_field_tag 'date', @seller.seller_date.localtime.to_s(:long), disabled: true %>
  </div>
  <div class="field">
    <%= label_tag "Description:" %>
    <%= f.text_area :seller_description %>
  </div>
  <div class="field">
    <%= label_tag "Seller's email:" %>
    <%= f.text_field :seller_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Preview', admin_seller_path(@seller) %> |
<%= link_to 'Sellers', admin_sellers_path %>
</div>
