<div class='admin'>
<div class="container">
<h2>Admin. Edit seller</h2>

<%= form_for [:admin, @seller] do |f| %>

<%= render "shared/error_messages", target: @seller %>

<div class="form-group">
	<%= label_tag("User's full name: ") %>
	<%= text_field_tag('name', userfullname(@seller.user), disabled: true, class: "form-control") %>
</div>

<div class="form-group">
  <%= label_tag("Displayed seller's name:") %>
  <%= f.text_field(:displayed_name, class: "form-control") %>
</div>

<div class="form-group">
<%= label_tag("Opened shop at:") %>
<%= text_field_tag('date', @seller.seller_date.localtime.to_s(:long), disabled: true, class: "form-control") %><br>
</div>

<div class="form-group">
  <%= label_tag("Description:") %>
  <%= f.text_area(:seller_description, class: "form-control") %>
</div>

<div class="form-group">
  <%= label_tag("Seller's email:") %>
  <%= f.text_field(:seller_email, class: "form-control") %>
</div>

  <%= f.submit("Update Seller", class: "btn btn-danger") %>

<% end %>
<br>
<%= link_to 'Back to Sellers', admin_sellers_path %>
<br><br>
</div>
</div>
