
<style>
#seller-table td {
	border-top: 1px solid #DDD;
}
#seller-table th {
	font-size:11px;
}
#seller-table {
	width:100%;
}
.seller-item-col {
	width:70%;
}
</style>

<p id="notice"><%= notice %></p>
<h2>Admin. View seller info</h2>

<p>
  <strong>Opened at:</strong>
  <%= @seller.seller_date.localtime.to_s(:long) %>
</p>
<p>
  <strong>User id:</strong>
  <%= @user.id %>
</p> 
<p>
  <strong>User name:</strong>
  <%= userfullname(@user) %>
</p>
<p>
  <strong>Displayed seller's name:</strong>
  <%= @seller.displayed_name %>
</p>
<p>
	<strong>Description:</strong>
  <%= @seller.seller_description %>
</p>
<p>
  <strong>Seller's email:</strong>
  <%= @seller.seller_email %>
</p>

<h3>All seller's artworks</h3>
<table id="seller-table" border="0">
  <thead>
    <tr>
      <th class="seller-item-col">Item</th>
      <th class="seller-price-col">Price</th>
      <th class="seller-quantity-col">Quantity</th>
      <th class="seller-delete-col"></th>
    </tr>
  </thead>

  <tbody>
    <% @myartworks.each do |item| %>
      <tr>
        <td class="seller-item-col">
				<%= item.title %><br>
				<%= image_tag(item.imagepath, border:'0', height:'100', width:'100') %>
				</td>
        <td class="seller-price-col"><%= number_to_currency(item.price) %></td>
        <td class="seller-quantity-col"><%= item.quantity %></td>
      </tr>
    <% end %>
    <tr><td colspan="4"></td></tr>
  </tbody>
</table>
<br>
<h3>All seller's reviews</h3>
<% @myreviews.each do |review| %>
	Stars: 
	<%= showstars(review.stars) %><br>
	On: 
	<%= review.review_date.localtime.to_s(:short) %><br>
	Reviewed by: 
	<%= userfullnamebyid(review.user_id) %><br>
	Review: 
	<%= review.review_text %>
	<br>
<% end %>
<br>

<%= link_to 'Edit', edit_admin_seller_path(@seller) %> |
<%= link_to 'Sellers', admin_sellers_path %>
