<hr>
<% @artworks.each do |artwork| %>
<div class='listing'>
    <img src=<%= artwork.imagepath %>>

    <div><a href='#'>
            <%= artwork.title %>
    </a></div>

    <p>
        Quantity available: <%= artwork.quantity %>
        Price: <%= number_to_currency(artwork.price) %>
    </p>
    <p><%= artwork.description %></p>

    <span style='font-size: 0.5em'>Tags: add tags here with links to tag search</span>
</div>
<hr>
<% end
if @artworks.count == 0
%>

<div class='listing' style='text-align:center'>
    Sorry, no results found.
</div>
<hr>

<% end %>

<%= will_paginate @artworks %>

