<%= will_paginate @artworks %>

<hr>

<% @artworks.each do |artwork| %>
    <%
        tag_ids = Tagging.where("artwork_id = ?", artwork.id)
        tags = Array.new
        tag_ids.each do |id|
            tag = Arttag.where("id = ?", id.arttag_id)
            tags.push(tag[0].tagname)
        end
    %>

<div class='listing'>
    <%= link_to image_tag(artwork.imagepath), {:controller => 'artworks', :action => 'show', :id => artwork.id} %>

    <div>
        <%= link_to artwork.title,{:controller => 'artworks', :action => 'show', :id => artwork.id} %>
    </div>

    <p>
        Quantity available: <%= artwork.quantity %>
        Price: <%= number_to_currency(artwork.price) %>
    </p>
    <p><%= artwork.description %></p>

    <div style='font-size: 0.5em'>
        Tags:
        <% if tags.count == 0 %>
            None
        <% else %>
            <% tags.each_with_index do |tagname, index| %>
                <% name = if index < (tags.count - 1) then tagname + ',' else tagname end %>
                <%= name %>
            <% end %>
        <% end %>
    </div>
</div>

<hr>
<% end
if @artworks.count == 0
%>

<div class='listing' style='text-align:center'>
    Sorry, no results found.
</div>
<hr>

<% end %>

<%= will_paginate @artworks %>

