<%
=begin %>
<% if !@myorders.nil? and @myorders.length != 0 %>
<% 
=end %>
<div class="container">
<% if !@myorders.blank? %>
<h2>Your Orders</h2>
<br><br>
	<table class="table table-bordered">
	  <thead>
	    <tr>
				<th>Order number</th>
	      <th>Order date</th>
				<th></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @myorders.each do |order| %>
	      <tr>
		      <td><%= order.id %></td>
	        <td><%= order.order_date.localtime.to_date %></td>
	        <td><%= link_to 'View', order_path(order) %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	<br>
	<%= link_to 'Back to Your Account', account_path %><br><br>
	<%= link_to 'Browse Artworks', artworks_path %>
<% else %>
	<h2>You have no orders</h2>
	<br><br>
	<%= link_to 'Back to Your Account', account_path %><br><br>
	<%= link_to 'Browse Artworks', artworks_path %>
	<br><br>
<% end %>
</div>