<h2>Admin. Orders</h2>

<table>
  <thead>
    <tr>
			<th>Order id</th>
      <th>Order date</th>
      <th>Shipping address</th>
      <th>Shipping cost</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
	      <td><%= order.id %></td>
        <td> | <%= order.order_date.localtime.to_s(:long) %></td>
        <td> | <%= order.shipping_address %></td>
        <td> | <%= number_to_currency(order.shipping_cost) %></td>
        <td><%= link_to 'Preview', order %> | </td>
        <td><%= link_to 'Edit', edit_order_path(order) %> | </td>
        <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %> | 
<%= link_to 'Back to Admin', admin_path %>

