<div class='admin'>
<h2>Admin. All artworks</h2>

<p><strong>Canceled sales: </strong>
	<%= Artwork.closed_sales %>
</p>
<p><strong>Sold out items: </strong>
	<%= Artwork.sold %>
</p>

<table class="table table-bordered">
  <thead>
    <tr>
			<th>ID</th>
      <th>Category</th>
      <th>Title</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @artworks.each do |artwork| %>
      <tr>
				<td><%= artwork.id %></td>
        <td><%= artwork.category %></td>
        <td><%= artwork.title %></td>
        <td><%= number_to_currency(artwork.price) %></td>
        <td><%= artwork.quantity %></td>
        <td><%= artwork.description %></td>
        <td><%= link_to 'View', admin_artwork_path(artwork) %></td>
        <td><%= link_to 'Edit', edit_admin_artwork_path(artwork) %></td>		
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @artworks %>
<br>            
<%= link_to 'Back to Admin', admin_menu_index_path %>
<br><br>
</div>
