<h2>Admin. All artworks</h2>

<div style='float:left'><%= link_to 'Back to Admin', admin_path %></div>

<table class='table'>
  <thead>
    <tr>
			<th>ID</th>
      <th>Category</th>
      <th>Title</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @artworks.each do |artwork| %>
      <tr>
				<td><%= artwork.id %></td>
        <td><%= artwork.category %></td>
        <td><%= artwork.title %></td>
        <td><%= number_to_currency(artwork.price) %></td>
        <td><%= artwork.quantity %></td>
        <td><%= artwork.description %></td>
        <td><%= link_to 'Preview', admin_artwork_path(artwork) %></td>
        <td><%= link_to 'Edit', edit_admin_artwork_path(artwork) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>            
<div style='float:left'>
<%= link_to 'Back to Admin', admin_path %>
</div>
<%= will_paginate @artworks %>
