<div class='admin'>
<h2>Show artwork Info</h2>
<br>
<p>
	<strong class="artwork-title">
  <%= @artwork.title %>
	</strong>
</p>
<br>
<div style='float: left; margin-right: 20px'>
<%= image_tag(@artwork.imagepath, :border=>0) %>
</div>

<p class="artwork-description" >
  <%= @artwork.description %>
</p>
<p>
  <strong>Category:</strong>
  <%= @artwork.category %>
</p>
<p>
  <strong>Price:</strong>
  <%= number_to_currency(@artwork.price) %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @artwork.quantity %>
</p>

<div id="tagsfooter" >
<% unless @my_arttags.blank? %>
  <% @my_arttags.each do |arttag| %>
    <span class="badge"><%= label_tag 'arttag', arttag.tagname %></span>
  <% end %>
<% end %>
<br><br><br>
	
<%= link_to('Edit', edit_admin_artwork_path(@artwork), class: "btn btn-default") %><br><br>
<%= link_to 'Back to Artworks', admin_artworks_path %><br><br>
</div>
</div>
