<h1>Listing arttags</h1>

<table>
  <thead>
    <tr>
      <th>Tagname</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @arttags.each do |arttag| %>
      <tr>
        <td><%= arttag.tagname %></td>
        <td><%= link_to 'Show', arttag %></td>
        <td><%= link_to 'Edit', edit_arttag_path(arttag) %></td>
        <td><%= link_to 'Destroy', arttag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Arttag', new_arttag_path %>
