<h2>Admin. All shoppingcartitems</h2>

<table>
  <thead>
    <tr>
      <th>Artwork id</th>
      <th>User id</th>
      <th>Quant</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shoppingcartitems.each do |item| %>
      <tr>
        <td><%= item.artwork_id %></td>
        <td><%= item.user_id %></td>
        <td><%= item.quantity %></td>

        <td><%= link_to 'View', admin_shoppingcartitem_path(item) %> | </td>
        <td><%= link_to 'Edit', edit_admin_shoppingcartitem_path(item) %> | </td>
        <td><%= link_to 'Delete', admin_shoppingcartitem_path(item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to Admin', admin_path %>
