<div class='admin'>
<h2>Shopping Cart Items</h2>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Artwork id</th>
      <th>Quant avail</th>
      <th>Price</th>
      <th>User id</th>
      <th>Quant ordered</th>
      <th>Seller id</th>
      <th>Seller's email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shoppingcartitems.each do |item| %>
      <tr>
	<% artid = item.artwork_id %>
        <td><%= link_to(artid, admin_artwork_path(artid), id: "admin_link") %></td>
					  <% artwork = Artwork.find(item.artwork_id) %>
        <td><%= artwork.quantity %></td>
        <td><%= number_to_currency(artwork.price) %></td>
        <td><%= item.user_id %></td>
        <td><%= item.quantity %></td>
	<% sellerid = artwork.seller_id %>
      	<td><%= link_to(sellerid, admin_seller_path(sellerid), id: "admin_link") %></td>
      	<td><%= Seller.find(artwork.seller_id).seller_email %></td>
        <td><%= link_to 'Delete item', admin_shoppingcartitem_path(item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to Admin', admin_menu_index_path %><br><br>
</div>
