%ul
  %li= link_to 'Manage users', listusers_admin_menu_index_path
  %li= link_to 'Manage sellers', admin_sellers_path
  %li= link_to 'Manage reviews', admin_reviews_path
  %li= link_to 'Manage artworks', admin_artworks_path
  %li= link_to 'Manage arttags', admin_arttags_path
  %li= link_to 'Manage shoppingcartitems', admin_shoppingcartitems_path
  %li= link_to 'Manage orders', admin_orders_path
