<!DOCTYPE html>
<% title = ""

CATEGORIES.each do |cat,details|
  if details['url'] == request.fullpath && request.fullpath != "/"
    title = details['description']
  end
end

if request.fullpath == "/"
  title = "ArtSale"
end %>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class='navbar'>
        <div class='container-fluid'>
            <div style='float: left'>
                <a href='/'><span id="logoText">ArtSale</span></a>
            </div>

            <div id="user_nav" style='float: right'>
                <% if user_signed_in? %>
                    Hi, <%= current_user.firstname + " " + current_user.lastname %> |
                    <%= link_to "Your Account", :controller => "account" %> |
                    Open Shop |
                    Cart |
                    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                <% else %>
                    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
                <% end %>
            </div>

            <div style='text-align: center'>
                <form id='searchform' action='search' method='get'>
                    <input type='text' class='blank' id='search' style='width: 50%' value='Search: item name, item description, item tag, seller name'>
                    <input type='submit'>
                </form>
            </div>
        </div>
    </header>

    <div class='container-fluid'>
        <ol class='breadcrumb'>
        <%
        %>
            <li class='active'><%= if title == "ArtSale" then "Home" else title end %></li>
        </ol>

        <div class="sidebar panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Categories
                </h4>
            </div>

            <div class="panel-body">
                <list>
                <% CATEGORIES.each do |cat,details| %>
                    <li>
                        <%= link_to cat, details['url'] %>
                    </li>
                <% end %>
                </list>
            </div>
        </div>

        <div class='content'>
            <div class='hero-unit'>
                <%= yield %>
            </div>
        </div>
    </div>

    <footer class='footer'>
        <div style='float: left'>ArtSale</div>

        <div style='float: right'>&copy; 2013 Team YAK</div>

        <div style='clear: none; text-align: center'>
            <a href='about'>About us</a> |
            <a href='contact'>Contact</a> |
            <a href='faq'>FAQ</a>
        </div>
    </footer>
</body>
</html>
