<!DOCTYPE html>
<%
title = ""
crumbs = Array.new
found = false

if request.fullpath == "/"
  title = "ArtSale Home"
  found = true
end

unless found
  CATEGORIES.each do |cat,details|
    if request.fullpath.include? details['url']
      crumbs.push ["Artworks", "/browse/all"]
      crumbs.push details['description']
      title = "Artworks: " + details['description']
      found = true
      break
    end
  end
end

unless found
  FOOTER.each do |cat,details|
    if request.fullpath.include? details['url']
      title = details['description']
      crumbs.push title
      found = true
      break
    end
  end
end

unless found
  BREADCRUMBS.each do |cat,details|
    if request.fullpath.include? details['url']
      title = details['description']
      crumbs.push title
      found = true
      break
    end
  end
end
%>

<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

<!--registration modal window-->
<div id='dialogue1' title='Register'>
    <%= render 'session/registerform' %>
</div>

<!--login modal window-->
<div id='dialogue2' title='Sign in'>
    <%= render 'session/loginform' %>
</div>

    <header class='navbar'>
        <div class='container-fluid'>
            <div style='float: left'>
                <a href='/'><span id="logoText">ArtSale</span></a>
            </div>

            <div id="user_nav" style='float: right'>
                <% if user_signed_in? %>
                    <%= render 'session/logoutform' %>
                <% else %>
                    <button class='signin'>
                        Sign in
                    </button>

                    <br>

                    <a class='register' href=''>
                        Sign up
                    </a>
                <% end %>
            </div>

            <div style='text-align: center'>
                <form class="form-inline" role="form" id='searchform' action='/search' method='get'>
                    <%
                        query_search = ""
                        query_class = ""
                        if params[:search].nil?
                            query_search = "items by title, description, tag, or seller"
                            query_class = "blank"
                        else
                            query_search = params[:search]
                        end
                    %>
										<div id='search-textbox' class="form-group">
										<label class="sr-only" for="search">Search terms</label>
                    <input type='text' class='<%= query_class %>' id='search' name='search' value='<%= query_search %>'>
										</div>
                    <button type="submit" class="btn btn-default btn-xs">Search</button>
                </form>
            </div>
    </header>

    <div class='container-fluid'>
        <div class="sidebar panel panel-default">
	
<%
=begin %>	
            <div class="panel-heading">
                <h4 class="panel-title">
                    <%= link_to "Artworks", CATEGORIES[:All]["url"] %>
                </h4>
            </div>
<% 
=end %>

            <div class="panel-body">
                <list>
<<<<<<< HEAD
                <% CATEGORIES.each do |cat,details| %>
									  <li><%= image_tag(asset_path "common/element.jpg") %></li>
										<li><span class="glyphicon glyphicon-leaf"></span>&nbsp;<%= link_to cat, details['url'] %></li>
=======
                <% CATEGORIES.each_with_index do |cat,index| %>
                    <% if index>0 %>
                    <li>
                        <%= link_to cat[0], cat[1]['url'] %>
                    </li>
                    <% end %>
>>>>>>> ad5d976656de727b5036761ec5e9022acaa48186
                <% end %>
                </list>
            </div>
        </div>
        <div class='content'>
	
	
                <ol class='breadcrumb'>
                <% if title == "ArtSale Home" %>
                    <li class='active'>
                        Home
                    </li>
                <% else %>
                    <li>
                        <a href='/'>Home</a>
                    </li>
                    <% crumbs.each_with_index do |desc, index| %>
                    <span class='divide'>></span>
                        <% if index < crumbs.count-1 %>
                        <li>
                            <%= link_to desc[0], desc[1] %>
                        </li>
                        <% else %>
                        <li class='active'>
                            <%= desc %>
                        </li>
                        <% end %>
                    <% end %>
                <% end %>
                </ol>


                </div>

            <div class='hero-unit'>

                <%= yield %>
        </div>
    </div>

    <footer class='footer'>
        <div style='float: left'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ArtSale</div>

        <div style='float: right'>&copy; 2013 Team YAK&nbsp;</div>

        <div style='clear: none; text-align: center'>
            |
            <% FOOTER.each do |cat,details| %>
                <%= link_to details['description'], details['url'] %> |
            <% end %>
        </div>
    </footer>
</body>
</html>
