<!DOCTYPE html>
<%
title = ""
desc = ""
found = false

if request.fullpath == "/"
  title = "ArtSale Home"
  found = true
end

unless found
  CATEGORIES.each do |cat,details|
    if details['url'] == request.fullpath
      desc = details['description']
      title = "Browse by category: " + desc
      found = true
      break
    end
  end
end

unless found
  FOOTER.each do |cat,details|
    if details['url'] == request.fullpath
      title = details['description']
      desc = title
      found = true
      break
    end
  end
end

unless found
  BREADCRUMBS.each do |cat,details|
    if request.fullpath.include? details['url'] 
      title = details['description']
      desc = title
      found = true
      break
    end
  end
end
%>

<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class='navbar'>
        <div class='container-fluid'>
            <div style='float: left'>
                <a href='/'><span id="logoText">ArtSale</span></a>
            </div>

            <div id="user_nav" style='float: right'>
                <% if user_signed_in? %>
									<% seller = Seller.where(["user_id = ?", current_user.id]).first %>

									<% if current_user.admin? %>
									<%= link_to "Manage Accounts", "/admin" %>
									<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
									
									<% elsif !seller.nil? %>
										Hi, <%= link_to userfullname(current_user), "/account" %> |
	                  <%= link_to "Your Shop", "/yourshop" %> | 
	                  <%= link_to "Cart", "/yourcart" %> |
	                  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	
									<% elsif %>
										Hi, <%= link_to userfullname(current_user), "/account" %> |
					          <%= link_to "Open Shop", "/openshop" %> |
					          <%= link_to "Cart", "/yourcart" %> |
					          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
					 				<% end %>
					
                <% else %>
                    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
               
 								<% end %>

							
									
            </div>

            <div style='text-align: center'>
                <form id='searchform' action='/search' method='get'>
                    <input type='text' class='blank' id='search' name='search' style='width: 50%' value='Search: item name, item description, item tag, seller name'>
                    <input type='submit'>
                </form>
            </div>
        </div>
    </header>

		<div>				
    <p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		</div>
		
    <div class='container-fluid'>
        <div class="sidebar panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Categories
                </h4>
            </div>

            <div class="panel-body">
                <list>
                <% CATEGORIES.each do |cat,details| %>
                    <li>
                        <%= link_to cat, details['url'] %>
                    </li>
                <% end %>
                </list>
            </div>
        </div>
        <div class='content'>
                <ol class='breadcrumb'>
                <% if title == "ArtSale Home" %>
                    <li class='active'>
                        Home
                    </li>
                <% else %>
                    <li>
                        <a href='/'>Home</a>
                    </li>
                    <span class='divide'>></span>
                    <li class='active'>
                        <%= desc %>
                    </li>
                <% end %>
                </ol>
	            </div>

            <div class='hero-unit'>

                <%= yield %>
        </div>
    </div>

    <footer class='footer'>
        <div style='float: left'>ArtSale</div>

        <div style='float: right'>&copy; 2013 Team YAK</div>

        <div style='clear: none; text-align: center'>
            |
            <% FOOTER.each do |cat,details| %>
                <%= link_to details['description'], details['url'] %> |
            <% end %>
        </div>
    </footer>
</body>
</html>
